$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$main-bg: #042037;
$header-fg: lighten(#dff2e1, 6%);

$navbar-default-bg: $main-bg;
$navbar-default-brand-color: #5A7C5A;
$navbar-default-link-color: $header-fg;
$navbar-default-link-active-color: #e0e0e0;
$navbar-default-link-hover-color: #dff2e1;

$navbar-border-radius: 0px;
$navbar-margin-bottom: 0px;

$text-color: $header-fg;

$dark-color: darken(#5A7C5A, 10%);
;
$dark-color-secondary: #AA5B39;

$about-me-height: 550px;

$default-text-shadow-color: rgba(0, 0, 0, 1);
$default-text-shadow-blur: 4px;
$default-text-shadow-v-offset: 1px;

$blockquote-small-color: darken($header-fg, 10%);
$blockquote-border-color: $header-fg;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "compass";
@import "compass/css3/animation";
//@import "animations";
//@import "puzzle";
//@import "home";
//@import "responsive";

@font-face {
  src: url("../styles/fonts/Quicksand-Bold.svg") format('svg'), url("../styles/fonts/quicksand-bold-webfont.ttf") format('truetype');
  font-family: "Quicksand";
  font-weight: bold;
}

@font-face {
  src: url("../styles/fonts/Quicksand-Regular.svg") format('svg'), url("../styles/fonts/quicksand-regular-webfont.ttf") format('truetype');
  font-family: "Quicksand";
  font-weight: normal;
}

@font-face {
  src: url("../styles/fonts/Quicksand-Italic.svg") format('svg'), url("../styles/fonts/quicksand-italic-webfont.ttf") format('truetype');
  font-family: "Quicksand";
  font-style: italic;
  font-weight: normal;
}

a:focus, a:active, a:link, a:hover {
  outline: 0;
}

.developer-title {
  color: #E96725;
}

.navbar-brand > strong {
  color: #199b70;
  border-right: 1px solid #FFB74C;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
}

#canvas-container {
  position: fixed;
  z-index: 0;
  top: 52px;
  width: 100%;
  @include background-image(linear-gradient(to bottom, $main-bg, #003A23));
}

.main-container {
  padding-top: 52px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 999;
}

h1 {
  font-weight: lighter;
  font-size: 4em;
}

#main {
  padding-bottom: 50px;
}

.main-pic {
  padding: 40px 0px 0px 0px;
}

p {
  font-weight: 200;
  font-size: 1.5em;
}

.main-desc {
  padding: 40px 0px 50px 0px;
}

.home-content {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #dff2e1;
}

.home-container {
  padding-top: 20px;
}

.about-me {
  background: $header-fg;
  color: $dark-color;
  padding: 0px 40px 40px 40px;
  height: $about-me-height;
  border-bottom: lighten($header-fg,20%);
}

.title {
  margin: 50px 0;
}

.down-circle {
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: calc(100% - 30px);

  animation: floating 4s infinite;
  @include animation-timing-function(ease-in-out);

  span {
    border: 2px solid #f5fbf5;
    border-radius: 33px;
    display: block;
    font-size: 2em;
    height: 50px;
    padding: 9px 6px;
    text-align: center;
    width: 50px;
    margin: auto;
  }
}

.meditation {
  background: url("/images/about/quotes.jpg") no-repeat scroll 50% 50%;

  height: $about-me-height;
  padding: 0px 40px 40px 40px;

  blockquote {
    p {
      @include single-text-shadow;
    }
  }
}

blockquote.blockquote-reverse {
  border: none;
  padding: 0px;
}

cite {
  @include single-text-shadow;
}

//Charts
.charts {
  background: darken($header-fg, 20%);
  border-top: 1px solid darken($header-fg, 35%);
  border-bottom: 1px solid darken($header-fg, 35%);
}

.chart-container {
  height: 400px;
  margin: 0px 0px 40px;
  padding: 0px;
}

ul#bar-chart {
  padding: 0px;
  margin: 0px;
  list-style: none;
  border-bottom: 1px solid $header-fg;
  li {
    display: inline-block;
  }
}

.bar {
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  vertical-align: bottom;
  display: inline-block;
}

//Bar Mixing
@mixin chart-bar($color, $percent) {
  $chart-max: 350px;
  $bar-a-color: $color;
  margin: 0px 5px;
  border: 1px solid darken($bar-a-color, 10%);
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;

  .bar {
    @include background-image(linear-gradient(to bottom, lighten($bar-a-color, 10%), darken($bar-a-color, 10%)));

    height: $chart-max * $percent;
    border-top: 1px solid lighten($bar-a-color, 30%);

    .percent, .skill-title {
      color: lighten($bar-a-color, 25%);
      width: 80px;
    }
  }
}

.bar-a {
  @include chart-bar(#3B70A8, 0.95);
}

.bar-b {
  @include chart-bar(#E96725, 0.9);
}

.bar-c {
  @include chart-bar(#E99A25, 0.95);
}

.bar-d {
  @include chart-bar(#199B70, 0.6);
}

.bar-e {
  @include chart-bar(#6A40B0, 0.85);
}

.bar-f {
  @include chart-bar(#e9d32c, 0.4);
}

.percent {
  font-size: 2em;
  font-weight: bold;
}

//Animations
@include keyframes(floating) {
  0% {
    bottom: 25px;
  }
  50% {
    bottom: 40px;
  }
}

.portfolio{
  background: $header-fg;
  color: $dark-color;
  padding: 40px 20px;
  border-top: 1px solid lighten($header-fg,10%);
}
