$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$main-bg: #042037;
$header-fg: lighten(#dff2e1,6%);

$navbar-default-bg: $main-bg;
$navbar-default-brand-color: #5A7C5A;
$navbar-default-link-color: $header-fg;
$navbar-default-link-active-color: #e0e0e0;
$navbar-default-link-hover-color: #dff2e1;

$navbar-border-radius: 0px;
$navbar-margin-bottom: 0px;

$text-color: $header-fg;

$dark-color: darken(#5A7C5A,10%);;
$dark-color-secondary: #AA5B39;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "compass";
@import "compass/css3/animation";
//@import "animations";
//@import "puzzle";
//@import "home";
//@import "responsive";

@font-face {
  src: url("../styles/fonts/Quicksand-Bold.svg") format('svg'), url("../styles/fonts/quicksand-bold-webfont.ttf") format('truetype');
  font-family: "Quicksand";
  font-weight: bold;
}

@font-face {
  src: url("../styles/fonts/Quicksand-Regular.svg") format('svg'), url("../styles/fonts/quicksand-regular-webfont.ttf") format('truetype');
  font-family: "Quicksand";
  font-weight: normal;
}

@font-face {
  src: url("../styles/fonts/Quicksand-Italic.svg") format('svg'), url("../styles/fonts/quicksand-italic-webfont.ttf") format('truetype');
  font-family: "Quicksand";
  font-style: italic;
  font-weight: normal;
}

a:focus, a:active, a:link, a:hover{
  outline: 0;
}

.developer-title{
  color: #AA5B39;
}

.navbar-brand > strong{
  color: $dark-color;
  border-right: 1px solid #7D6314;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
}

#canvas-container{
  position: fixed;
  z-index: 0;
  top: 52px;
  width: 100%;
  @include background-image(linear-gradient(to bottom, $main-bg, #003A23));
}

.main-container{
  padding-top: 52px;
}

.header{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 999;
}

h1{
  font-weight: lighter;
  font-size: 4em;
}

#main{
  padding-bottom: 50px;
}

.main-pic{
  padding: 40px 0px 0px 0px;
}

p{
  font-weight: 200;
  font-size: 1.5em;
}

.main-desc{
  padding: 40px 0px 50px 0px;
}

.home-content{
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #dff2e1;
}

.home-container{
  padding-top: 20px;
}

.about-me{
  background: $header-fg;
  color: $dark-color;
}

.down-circle{
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: calc(100% - 30px);

  animation: floating 4s infinite;
  @include animation-timing-function(ease-in-out);

  span {
    border: 2px solid #f5fbf5;
    border-radius: 33px;
    display: block;
    font-size: 2em;
    height: 50px;
    padding: 9px 6px;
    text-align: center;
    width: 50px;
    margin: auto;
  }
}

@include keyframes(floating){
  0%, 100%{
    bottom: 25px;
  }
  50%{
    bottom: 40px;
  }
}

