<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Rodrigo Soria</title>
  <meta name="description" content="Rodrigo Soria - Full Stack Developer">

  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->


  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- endfavicon -->

  <!--Open Graph Meta Tags-->
  <meta property="og:title" content="Rodrigo Soria - Full Stack Developer" />
  <meta property="og:description" content="I'm a Full Stack Developer with a designer in me. When I'm not freelancing, I'm playing videogames. I spend my free time creating new levels for my IOS game." />
  <meta property="og:image" content="http://rodrigosoria.me/meta-assets/icon_R.png" />
  <meta property="og:url" content="http://rodrigosoria.me"/>

</head>
<body ng-app="portfolioApp" ng-controller="PortfolioCtrl">

<a name="home"></a>

<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">
          <strong class="hidden-xs">Rodrigo Soria</strong>
          <span class="developer-title">Full Stack Developer</span>
        </a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{ active: activeLink == 'Home'}" ng-click="go('home')"><a href="#/Home">Home</a></li>
          <li ng-class="{ active: activeLink == 'About'}" ng-click="go('about')"><a href="#/About">About</a></li>
          <li ng-class="{ active: activeLink == 'Skills'}" ng-click="go('skills')"><a href="#/Skills">Skills</a></li>
          <li ng-class="{ active: activeLink == 'Portfolio'}" ng-click="go('portfolio')"><a ng-href="#/Portfolio">Portfolio</a></li>
          <li ng-class="{ active: activeLink == 'Contact'}" ng-click="go('contact')"><a ng-href="#/Contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="canvas-container">
  <canvas class="hidden-xs hidden-sm" id="canvas-element" style="display: inline;">
    Your browser does not support the Canvas element.
  </canvas>
</div>

<div class="container-fluid main-container">
  <div class="home-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Rodrigo Soria</h1>
        <img class="main-pic" src="/images/circle_pic.png" width="200px">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col col-lg-offset-2 text-center">
        <div class="main-desc">
          <p>
            I'm a Full Stack Developer with a small designer in me. When I'm not freelancing, I'm playing videogames. I spend my free time creating new levels for my IOS game.
          </p>
          <br>
          <p>
            I have a various set of skills, from HTML + CSS + Javascript, to Node.js, PHP,
            Git deployment and Linux server administration to name a few.
          </p>
        </div>
      </div>
    </div>

    <div class="down-circle hidden-xs hidden-sm">
      <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </div>
  </div>

  <!-- ABOUT ME -->
  <div class="row">
    <a name="about"></a>
    <div class="col-xs-12 col-sm-6 about-me">
      <h1 class="text-center title">About Me</h1>
      <!--h2 class="hidden-xs hidden-sm">Front-end Developer</h2-->
      <p>
        I enjoy turning complex problems into simple tasks.
      </p>
      <p>
        I'm coding most of the time, or playing videogames, you'll find me in the gym from time to time.
      </p>
      <p>
        I like a challenge when it comes to learn new technologies, tools, or new ways to design, always looking for the
        next best way to code.
      </p>
      <p>
        I love panda cubs, and puppies.
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 meditation" ng-controller="QuotesCtrl">
      <h1 class="text-center title">QUOTES</h1>

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="10000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <blockquote class="blockquote-reverse">
              <p class="text-justify">"Try not to become a person of success, but rather try to become a person of value."
              </p>
              <cite> - Albert Einstein</cite>
            </blockquote>
          </div>

          <div class="item">
            <blockquote class="blockquote-reverse">
              <p class="text-justify">
                "Just because something doesn’t do what you planned it to do, doesn’t mean it’s useless."
              </p>
              <cite> – Thomas Edison</cite>
            </blockquote>
          </div>

          <div class="item">
            <blockquote class="blockquote-reverse">
              <p class="text-justify">
                "Never trust a computer you can't throw out a window."
              </p>
              <cite> – Steve Wozniak</cite>
            </blockquote>
          </div>

          <div class="item">
            <blockquote class="blockquote-reverse">
              <p class="text-justify">
                "I do not fear computers, I fear the lack of them."
              </p>
              <cite> – Isaac Asimov</cite>
            </blockquote>
          </div>

          <div class="item">
            <blockquote class="blockquote-reverse">
              <p class="text-justify">
                "Computers are useless. They can only give you answers."
              </p>
              <cite> – Pablo Picasso</cite>
            </blockquote>
          </div>
        </div>
      </div>


    </div>
  </div>

  <!-- MY SKILLS -->
  <div class="row">
    <a name="skills"></a>

    <div class="col-xs-12 text-center charts visible-sm visible-md visible-lg">
      <h1 class="title">My Skills</h1>
      <div class="chart-container">
        <ul id="bar-chart">
          <li class="bar-a">
            <div class="bar">
              <div class="percent">95%</div>
            </div>
          </li>
          <li class="bar-b">
            <div class="bar">
              <div class="percent">90%</div>
            </div>
          </li>
          <li class="bar-c">
            <div class="bar">
              <div class="percent">95%</div>
            </div>
          </li>
          <li class="bar-d">
            <div class="bar">
              <div class="percent">60%</div>
            </div>
          </li>
          <li class="bar-e">
            <div class="bar">
              <div class="percent">85%</div>
            </div>
          </li>
          <li class="bar-f">
            <div class="bar">
              <div class="percent">40%</div>
            </div>
          </li>
        </ul>
        <ul id="bar-chart-title-axis">
          <li class="bar-a-title">
            <div class="bar">
              <div class="skill-title">HTML / CSS</div>
            </div>
          </li>
          <li class="bar-b-title">
            <div class="bar">
              <div class="skill-title">Angular</div>
            </div>
          </li>
          <li class="bar-c-title">
            <div class="bar">
              <div class="skill-title">JS</div>
            </div>
          </li>
          <li class="bar-d-title">
            <div class="bar">
              <div class="skill-title">MEAN Stack</div>
            </div>
          </li>
          <li class="bar-e-title">
            <div class="bar">
              <div class="skill-title">Tea Drinking</div>
            </div>
          </li>
          <li class="bar-f-title">
            <div class="bar">
              <div class="skill-title">Karaoke Singing</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- PORTFOLIO -->
  <div class="row">
    <a name="portfolio"></a>
    <a name="portfolio-end"></a>

    <div class="col-xs-12 portfolio">
      <div class="container">
        <h1 class="text-center">Portfolio</h1>


        <div class="portfolio-gallery">
          <div class="col-xs-6 col-sm-4 text-center">
            <div class="cell" data-toggle="modal" data-target="#modal1">
              <img src="images/portfolio/logo_trendyta.png">
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 text-center">
            <div class="cell" data-toggle="modal" data-target="#modal2">
              <img src="images/portfolio/logo_eurote.png">
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 text-center">
            <div class="cell" data-toggle="modal" data-target="#modal3">
              <img src="images/portfolio/logo_knowhow.png">
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 text-center">
            <div class="cell" data-toggle="modal" data-target="#modal4" ng-click="modalAmzInf()">
              <img src="images/portfolio/logo_amzinf.png">
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 text-center">
            <div class="cell" data-toggle="modal" data-target="#modal5">
              <img src="images/portfolio/logo_bpgurus.png">
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 text-center">
            <div class="cell" data-toggle="modal" data-target="#modal6">
              <img src="images/portfolio/logo_v147.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTACT -->
  <div class="row">
    <a name="contact"></a>
    <div class="col-xs-12 col-sm-12 contact">
      <h1 class="text-center">Contact</h1>
      <div class="col-xs-12 col-sm-6">
        <ul class="contact-list">
          <li><a href="https://github.com/rodsilver83" target="_blank"><img src="images/git.png" width="50px"> <span> gihub</span></a></li>
          <li><a href="https://www.linkedin.com/in/soriarodrigo" target="_blank"><img src="images/linkedin.png" width="50px"> <span> linkedin</span></a></li>
          <li><a href="https://codepen.io/Rodsilver83/" target="_blank"><img src="images/codepen.png" width="50px"> <span> codepen</span></a></li>
          <li><a href="mailto:hello@rodrigosoria.me"><img src="images/mail.png" width="50px"> <span> hello@rodrigosoria.me</span></a></li>
        </ul>
      </div>
      <div class="col-sm-6 hidden-xs">
        <img src="images/tree.png" class="img-responsive">
      </div>
      </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel1">Trendyta</h2>
      </div>
      <div class="modal-body">
        <p>E-commerce platform made from ground up. With a back-end service using sales data analytics, to improve seasonal-sale offers, top products, and key costumers.</p>
        <p><strong>Key technologies:</strong> Angular, Bootstrap, Nginx, CodeIgniter, Ajax, AWS, SendGrid, D3, Git, Agile</p>
        <div>
          <a href="https://www.trendyta.com" target="_blank" class="btn btn-success">trendyta.com <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
        </div>
        <div class="portfolio-mac hidden-xs">
          <div class="mac-pic">
            <img src="images/portfolio/trendyta_1.png" class="scroll-1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel2">Euro Te</h2>
      </div>
      <div class="modal-body">
        <p>E-commerce platform with custom WordPress web site. Helped with LAMP server administration, created the custom theme for the web-site, blog and e-commerce front-end.</p>
        <p><strong>Key technologies:</strong> WordPress, Bootstrap, PHP, CodeIgniter, JQuery, Git, Agile</p>
        <div>
          <a href="http://oliviamedina.com/recibe-la-primavera-con-euro-te/" target="_blank" class="btn btn-success">oliviamedina.com <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
        </div>
        <div class="portfolio-mac hidden-xs">
          <div class="mac-pic">
            <img src="images/portfolio/eurote_1.png" class="scroll-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel3">KnowHow</h2>
      </div>
      <div class="modal-body">
        <p>IOS App to send coorporate internal news, hints tips, worked fromt the design for mobile implementatio to develop the whole front-end.</p>
        <p><strong>Key technologies:</strong> Ionic, Cordova, PhoneGap, PHP, Angular, LAMP, CodeIgniter, Ajax</p>
        <div>
          <a href="https://itunes.apple.com/sa/app/knowhow/id950977586?mt=8" target="_blank" class="btn btn-success">KnowHow App <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
        </div>
        <div class="portfolio-iphone hidden-xs">
          <div class="mac-pic">
            <img src="images/portfolio/knowhow_1.png" class="scroll-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel4">Amazen Infinity</h2>
      </div>
      <div class="modal-body">
        <p>IOS Videogame that started as a hobby and became whole new project since that Unity5 Game developing course I took.</p>
        <p><strong>Key technologies:</strong> RestAPI, C#, Unity5, IOS, Blender</p>
        <div>
          <a href="http://amazeninfinity.com/" target="_blank" class="btn btn-success">amazeninfinity.com <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
        </div>
        <div class="portfolio-iphone-landscape hidden-xs">
          <iframe width="300" height="170" src="https://www.youtube.com/embed/OUYoQiL6tG4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel5">BPGurus</h2>
      </div>
      <div class="modal-body">
        <p>New coorporate WebPage redesign with responsive and SEO optimizations.</p>
        <p><strong>Key technologies:</strong> Angular, Bootstrap, Apache, JQuery</p>
        <div>
          <a href="http://bpgurus.com/" target="_blank" class="btn btn-success">bpgurus.com <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
        </div>
        <div class="portfolio-mac hidden-xs">
          <div class="mac-pic">
            <img src="images/portfolio/bpg_1.png" class="scroll-5">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel6">Victoria147</h2>
      </div>
      <div class="modal-body">
        <p>E-commerce platform made from ground up. With a backend service using sales data analytics, to improve seasonal-sale offers, top products, and key costumers.</p>
        <p><strong>Key technologies:</strong> Angular, Bootstrap, Nginx, CodeIgniter, JQuery, AWS, SendGrid, D3, Responsive Design</p>
        <div>
          <a href="https://v147.mx/" target="_blank" class="btn btn-success">v147.mx <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
        </div>
        <div class="portfolio-mac hidden-xs">
          <div class="mac-pic">
            <img src="images/portfolio/v147_1.png" class="scroll-6">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Footer-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
          (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-55929005-1');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/portfolio.js"></script>
<script src="scripts/rsMain.js"></script>
<script src="scripts/controllers/quotes.js"></script>
<!-- endbuild -->
</body>
</html>
