
<div class="container-fluid about-me" style="padding-top: 0px">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center section-title">About Me</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-5 puzzle-text">
        <h1 class="text-center section-title">About Me</h1>
        <h2 class="hidden-xs hidden-sm">Front-end Developer</h2>
        <p>
          I enjoy turning complex problems into simple tasks.
          </p>
        <p>
          I'm coding most of the time, or playing videogames, you'll find me in the gym from time to time.
        </p>
        <p>

        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <img src="/images/html5_column_chart.jpg" width="800px">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
      </div>
    </div>

</div>

<script type="application/javascript">
  $(document).ready(function(){
    $(".about-me").css("height",window.innerHeight);
  });
</script>