<div class="home-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Rodrigo Soria</h1>
        <img class="main-pic" src="/images/circle_pic.png" width="200px">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="main">
          Hello World! I'm a Front-end Developer with some Back-end in me. If I'm not freelancing, I'm working remotely on projects for clients all
          over the world, or creating new levels for my IOS games.
        </p>
        <br>
        <p>
          I have a various set of skills, ranging from design, to HTML + CSS + Javascript, all the way to Node.js, PHP,
          Git deployment and Linux server administration to name a few.
        </p>
      </div>
    </div>
  </div>
</div>