<div class="home-content">
  <div class="container-fluid home-container" style="overflow: auto">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Rodrigo Soria</h1>
        <img class="main-pic" src="/images/circle_pic.png" width="200px">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
        <div class="main">
        <p>
          I'm a Front-end Developer with some Back-end in me. When I'm not freelancing, I'm working on projects for clients all
          over the world. I spend my free time creating new levels for my IOS game.
        </p>
        <br>
        <p>
          I have a various set of skills, from HTML + CSS + Javascript, to Node.js, PHP,
          Git deployment and Linux server administration to name a few.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="application/javascript">
  $(document).ready(function(){
    $(".home-container").css("height",window.innerHeight);
  });
</script>